* {
  box-sizing: border-box;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  max-width: 365px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.photo-card img {
  width: 365px;
  height: 240px;
  object-fit: cover;
}

.photo-card:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.14),
    0px 3px 1px rgba(0, 0, 0, 0.2);
}

.info {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.info-item {
  font-size: 11px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.search-form {
  display: flex;
  justify-content: center;
  background-color: #6b63af;
  padding: 8px 0;
}

input {
  padding: 7px;
  width: 500px;
  margin-right: 5px;
}
button:hover {
  cursor: pointer;
}

.gallery-button {
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.load-more {
  margin: 15px 0;
  padding: 10px 18px;
  background-color: #6b63af;
  border-radius: 5%;
  border: none;
  color: white;
}

.load-more:hover {
  box-shadow: 0 1px 5px darkslategray;
  transition: all 0.1s ease;
}
