* {
  box-sizing: border-box;
}

.search-btn {
  padding: 12px 20px;
  border-radius: 5%;
  border: none;
  text-transform: uppercase;
}

.search-btn:hover {
  box-shadow: 0 2px 5px rgb(47, 79, 79);
  transition: all 0.1s ease-in;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.photo-card img {
  width: 360px;
  height: 235px;
  object-fit: cover;
}

.photo-card:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.14),
    0px 3px 1px rgba(0, 0, 0, 0.2);
}

.info {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

.info-item {
  font-size: 16px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.search-form {
  display: flex;
  justify-content: center;
  background-color: rgb(107, 99, 175);
  padding: 10px 0;
}

input {
  font-size: 16px;
  padding: 10px;
  width: 500px;
  margin-right: 7px;
}

input::placeholder {
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

.gallery-button {
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.load-more {
  margin: 15px 0;
  padding: 12px 20px;
  background-color: rgb(107, 99, 175);
  border-radius: 5%;
  border: none;
  color: white;
}

.load-more:hover {
  box-shadow: 0 1px 5px rgb(47, 79, 79);
  transition: all 0.1s ease-in;
}
